<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1}]')
});
</script>

<% content_for :title do %>PostgreSQL dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/postgresql.png"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">

  <div data-id="queries" data-view="Number" data-title="Queries" data-moreinfo="active backends" data-prefix=""></div>
        <i class="icon-cogs icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instance" data-view="List" data-unordered="true" data-title="Instance" data-moreinfo=""></div>
	<i class="icon-info-sign icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="buffers" data-view="Graph" data-title="Buffers" data-moreinfo="New buffers allocated"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hitratio" data-view="Meter" data-title="Hit Ratio" data-min="0" data-max="100" data-moreinfo="data found in cache" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="Tweets tagged with #PostgreSQL"></div>
      <i class="icon-twitter icon-background"></i>
    </li>


  </ul>
</div>
